<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>TODO :)</title>
  <link rel="shortcut icon" type="image/png" href="/assets/favicon.png">
  <link rel="stylesheet" href="/assets/style.css" type="text/css">
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="/assets/client-side.js" charset="utf-8"></script>
</head>
<body>
  <div id="todo-table">
    <h1><img src="/assets/logo.png" alt="Logo" width="40px" height="40px">&nbsp;&nbsp;TODO-App</h1>
    <form>
      <input type="text" name="item" placeholder="Add New Item" required>
      <button type="submit">Add Item</button>
    </form>
    <ul>
      <% for(var i = 0; i < todos.length; i++) { %>
        <li><%= todos[i].item %></li>
      <% } %>
    </ul>
  </div>
</body>
</html>
